
.grid {
  display: grid;
}

.place-content-center {
  place-content: center;
}

.result-container {
  background-color: var(--bs-primary-bg-subtle);
}

.result-container > .info > a {
  display: block;
  color: var(--bs-body-color);
  text-decoration: none;
}

.form-control:focus {
  box-shadow: none;
}
